@import './../../assets/stylesheets/style.scss';

.login-box{
    margin: 10vh auto;
    width : 25vw;
    height : 30vh;
    position: relative;
}

.login-title{
    text-align: center;
    width : 100%;
    margin : 0px;
}

.form-login {
    margin : 0px;
}

.input-info {
    margin : 20px 0px;
}

.input-box {
    margin : 0px;
    width : 100%;
    height : 2.5em;
}

.span-little {
    text-decoration: underline;
    font-size: small;
}

.submit-login {
    margin: 0px;
    padding: 5px;
    width : 100%;
    background-color: #000000;
    color: #ffffff;
    border : none;
    position : absolute;
    bottom : 0px;
}