@import "./../../assets/stylesheets/style.scss";

.user-info-box {
    margin: 20px;
}

.profile {
    .avatar, .user-info {
        display: inline-block;
    }
    .avatar {
        width: 100px;
        > img {
            width: 100px;
            height: 100px;
            border-radius: 50px;
        }
    }

    .user-info {
        width: calc(100% - 120px);
        margin-left: 15px;
        .name {
            font-size: 20px;
            font-weight: bold;
        }
        .change-pw {
            margin-top: 10px;
            button {
                padding: 5px 10px;
                border-color: $point;
                border-radius: 5px;
                color: $point;
                font-weight: bold;
                &:hover {
                    background: $point;
                    color: #fff;
                }
            }
        }
    }
}

.button-list {
    display: flex;
    margin: 10px 0;
    > button {
        flex: 1;
        margin: 0 15px;
        padding: 20px 10px;
        text-align: center;
        color: $point;
        font-size: 17px;
        font-weight: 600;
        border: 1px solid $darkGrey;
        border-radius: 5px;
        &:hover {
            background: $point;
            color: #fff;
        }
    }
}

.recently-seen {
    margin: 30px 20px;
    padding-top: 30px;
    border-top: 1px solid $point;
    .header {
        color: $point;
        font-size: 16px;
        font-weight: 600;
    }
    .list {
        margin-top: 10px;
        .view-item {
            display: inline-block;
            margin-right: 15px;
            padding: 10px;
            border: 1px solid $point;
            border-radius: 5px;
            > img {
                width: 200px;
            }
            .name {
                margin-top: 5px;
                text-align: center;
                font-size: 15px;
                color: #000;
                font-weight: bold;
            }
        }
    }
}
