@import "./../../assets/stylesheets/style.scss";

$min-width: 992px;
@media (min-width: $min-width) {
  .navbar-brand {
    display: none;
  }
}

nav {
  min-height: 60px;
  background: rgba(255, 255, 255, .3);
  box-shadow: 0 0 10px #d6d6d6;
  div.logo {
    img {
      width: auto;
      height: 60px;
    }
  }

  ul li {
    color: $brown;
  }

  ul.tabs {
    margin: auto;
    li.nav-item {
      width: 70px;
      text-align: center;
      font-weight: 900;
      &.active {
        font-weight: bold;
        .link {
          color: #000;
        }
      }
    }
  }

  ul.account {
    max-width: 170px;
    li.nav-item {
      width: 70px;
    }
  }
}
