@import "./../../assets/stylesheets/style.scss";

$min-width: 992px;
@media (min-width: $min-width) {
  .navbar-brand {
    display: none;
  }
}

nav {
  background: #fff;
  border: 1px solid #a7a7a7;
  ul.tabs {
    width: 100%;
    li.nav-item {
      width: calc(100% / 6);
      text-align: center;
      color: #000;
      &.active {
        font-weight: bold;
        .link {
          color: #000;
        }
      }
    }
  }
}
