@import "./../../assets/stylesheets/style.scss";

.intro-2 {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (50).jpg")no-repeat center center;
    background-size: cover;
}
html,
body,
header,
.view {
    height: 100%;
}

nav {
    border: 1px solid #a7a7a7;
    ul.tabs {
        width: 100%;
        li.nav-item {
            width: calc(100% / 6);
            text-align: center;
            color: #000;
            &.active {
                font-weight: bold;
                .link {
                    color: #000;
                }
            }
        }
    }
}
