@import './util.scss';
@import './variables.scss';
@import './color.scss';

// noto sans font import
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background: $base;
}

// Range Filter
.input-range {
  .input-range__track--background {
    background: $darkGrey;
  }
  .input-range__track--active {
    background: $point;
  }
  .input-range__slider {
    background: $point;
    border-color: $point;
  }
}
