@import './util.scss';
@import './color.scss';

body {
  margin: 0;
  padding: 0;
  background: $base;
}

// Range Filter
.input-range {
  .input-range__track--background {
    background: $darkGrey;
  }
  .input-range__track--active {
    background: $point;
  }
  .input-range__slider {
    background: $point;
    border-color: $point;
  }
}
